button {

background-color: red;

color: white;

padding: 20px;

border: none;

border-radius: 50%;
  
width: 200px;
  height: 200px;
  font-size: 30px;
}

h1{
  font-size: 50px;

color: black;
  margin: 0px;

}
button.reset {
  background-color: red;
  color: yellow;
  padding: 20px;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 15px;
}
button.Upgrade {
  backround-color: green;
  color: yellow;
  padding: 20px;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 80px;
  font-size: 15px;
}
p{
  font-size: 25px;
  color: red;
  margin: 0px;
}

body { 
  background-image: linear-gradient(to right, red, green, blue);
       text-align: center;
      height: 100vh;
       margin: 0px;
       padding: 0px;
     }
button, input, select, textarea {
    touch-action: manipulation;
}
